.vc-license-activation-notice {
  display: none; }

a[href="http://bit.ly/vcomposer"] {
  color: transparent; }
  a[href="http://bit.ly/vcomposer"]:hover {
    cursor: default; }
  a[href="http://bit.ly/vcomposer"]:before {
    color: black;
    content: 'Contact your developer for the latest version of this specially licensed plugin.';
    opacity: 1; }
