@import "compass";

/* =Alignment & Positioning
----------------------------------------------- */
@mixin center() {
	margin-right: auto;
	margin-left: auto;
}

@mixin max-width( $max-width: 1030px, $padding-left: 25px, $padding-right: 25px ) {
	max-width: $max-width;
	padding-left: $padding-left;
	padding-right: $padding-right;

	@media only screen and (min-width: ($max-width + $padding-left + $padding-right) ) {
		padding-left: 0;
		padding-right: 0;
	}
}

@mixin hide-but-keep {
	display: none;
}


/* =Media
----------------------------------------------- */
@mixin svg( $filename, $path: '../images/' ) {
	background: url( #{$path}#{$filename}.png );
	background-image: url( #{$path}#{$filename}.svg ), none;
}

@mixin replace-with-svg( $filename, $width: 100px, $height: 100px, $path: '../images/' ) {
	@include svg( $filename, $path );
	background-repeat: no-repeat;
	display: block;
	height: $height;
	line-height: $height;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: $width;
	max-width: 100%;
}


/* =Forms
----------------------------------------------- */
@mixin placeholder( $color, $font-size: inherit, $font-style: normal ) {
	::-webkit-input-placeholder {
		color: $color;
		font-size: $font-size;
		font-style: $font-style;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: $color;
		font-size: $font-size;
		font-style: $font-style;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: $color;
		font-size: $font-size;
		font-style: $font-style;  
	}

	:-ms-input-placeholder {  
		color: $color;
		font-size: $font-size;
		font-style: $font-style;  
	}
}


/* =High Definition
----------------------------------------------- */
// Sample usage:
// background: url( "../images/sprites.png" ) -168px -9px no-repeat;
// @include retinafy( "sprites@2x.png", 250, 250 );
@mixin retinafy( $image, $width-1x: 1300, $height-1x: 750 ) {
	@media
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) {
		background-image: url( "../images/#{$image}" );
		background-size: #{$width-1x}px #{$height-1x}px;
	}
}


/* =Typography
----------------------------------------------- */
@mixin font-size( $sizeValue: 16 ) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue / 10) + rem;
}

@mixin responsive-font-size( $font-size-max: 40 ) {
	@include font-size( $font-size-max * 0.75 );

	@media only screen and (min-width: 481px) {
		@include font-size( $font-size-max );
	}
}


// Don't forget: add these fonts to the _s_change_tinymce_fonts() function in /inc/tinymce.php
@mixin enzo( $weight: 300 ) {
	font-family: 'ff-enzo-web', 'FF Enzo', sans-serif;
	font-weight: $weight;

	// Provide reasonable font weight until Enzo loads
	.wf-loading & { 
		font-weight: 400;
	}
}

@mixin helvetica( $weight: 400 ) {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: $weight;
}


/* =Special effects
----------------------------------------------- */
@mixin transition( $transitions... ) {
	-moz-transition: $transitions;
	-webkit-transition: $transitions;
	-o-transition: $transitions;
	transition: $transitions;
}