/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/


//
// IMPORTING STYLES
//

//@import "variables"; 
//@import "mixins";
@import "../sass/variables-site/variables-site";
@import "../sass/mixins/mixins-master";

/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
	@import "print";
}

/* =Structure
----------------------------------------------- */
// This will tack the footer below the viewport, so generally not useful unless you're also using sticky-footer styles
// html, body { height: 100%; }

html {
	font-size: 62.5%; // Sets up the Base 10 stuff
	height: 100%;
}

body {
	background-color: $color__background-body;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	min-height: 100%;
}

/*Opera Fix*/
body:before {
	content: "";
	float: left;
	height: 100%;
	margin-top: -32767px;
	width: 0;
}

.site {
	margin: 0 auto;
	// max-width: 1100px;
	min-height: 100%;
	padding: 0;
        background-color:$color__background-screen;
}

.site-main {
	overflow: auto;
}


/* =Header
----------------------------------------------- */
.site-header {
	margin-bottom: 1.8em;

	.site-title {
		float: left;

		a {
			background: url('../images/logo.png') no-repeat;
			display: block;
			height: 84px;
			text-indent: -9999em;
			width: 665px;
		}
	}
}


/* =Menu
----------------------------------------------- */
ul.menu {
	margin-left: 0;
}

.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	ul {
		list-style: none;
		margin: 0 auto;
		padding-left: 0;

		li {
			position: relative;
			text-align: center;

			a {
				// color: #878787;
				display: block;
				text-decoration: none;
			}

			&:hover > ul {
				display: block;
			}

			&.current_page_item a,
			&.current-menu-item a {
				// color: #063579;
			}
		}

		ul {
			display: none;
			float: left;
			position: absolute;
				top: 1.5em;
				left: 0;
			z-index: 99999;
		
			ul {
				left: 100%;
				top: 0;

				li {
					a { width: 200px; }
					&:hover > a {}
				}
			}
		}

		@media screen and (min-width: 601px) {
			display: table;

			li {
				float: left;
				margin-right: 36px;

				&:last-child {
					margin-right: 0;
				}				
			}
		}
	}
}

/* Small menu */
.menu-toggle {
	@include svg( 'menu' );
	background-repeat: no-repeat;
	background-size: contain;
	box-shadow: none;
	cursor: pointer;
	padding-left: 35px;

	&:hover {
		@include svg( 'menu' );
		background-repeat: no-repeat;
		background-size: contain;
	}
}
.main-small-navigation .menu {
	display: none;
}


/* =Content
----------------------------------------------- */
.sticky {
}
.hentry {
	margin: 0 0 1.5em;

	.entry-meta {
		clear: both;
	}
	.byline {
		display: none;

		.single &,
		.group-blog & {
			display: inline;
		}
	}
	
	.entry-content,
	.entry-summary {
		margin: 0;

		@import "content";

		.page-links {
			clear: both;
			margin: 0 0 1.5em;
		}
	}
}


/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Navigation
----------------------------------------------- */
.site-content {
	.site-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* =Comments
----------------------------------------------- */
.comment-list {
	list-style: none;
	margin-left: 0;

	ol.children {
		list-style: none;
		margin: 0 -10px 0 90px;
	}

	// Hide trackbacks by default
	.trackback,
	.pingback {
		display: none;
	}

	.comment {
		margin-bottom: 10px;
		padding: 10px 10px;

		.reply {
			display: block;
			float: right;
			margin-left: 25px;

			// a {
			// 	background: url('../images/icons/reply.png') no-repeat;
			// 	display: block;
			// 	height: 32px;
			// 	text-indent: -9999em;
			// 	width: 32px;
			// }
		}

		.comment-author {
			.avatar {
				float: left;
				margin: 0 20px 20px 0;
			}

			cite {
				font-style: normal;
				font-weight: bold;
				margin-right: 20px;
			}
		}

		.comment-metadata {
			@include font-size( 1 );
			margin-bottom: 1em;
			text-transform: uppercase;
		}
	}

	.odd {
		
	}

	.even {
		
	}

	.bypostauthor {
	}
}

/* =Widgets
----------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

/* Search widget */
#searchsubmit {
	display: none;
}


/* =Footer
----------------------------------------------- */
.site-footer {
	clear: both;
	position: relative;
}