/* =Colors
----------------------------------------------- */
$color__pink: #c23a90;
$color__pink-alt: #de59ad;
$color__green: #becf7d;
$color__green-alt: #859e24;
$color__orange: #d5934b;
$color__orange-alt: #e8871e;
$color__blue: #5da2d7;
$color__gray: #cccccc;
$color__white: #ffffff;
$color__text: #010101;
$color__link: #2b3b87;
$color__link-hover: #a9bb65;

/* =Fonts
----------------------------------------------- */
$font__main: "Arial", sans-serif;
$font__alt: "ff-ernestine-web-pro", sans-serif;
$font__line-height-body: 2;