// Don't forget: add these colors to the _s_tinymce_change_colors() function in /inc/tinymce.php

$color__background-body: #f5b179; // goldenrod
$color__background-screen: #ffffff;  // white
$color__background-hr: #b7ddc8; // mint green
$color__background-button: #903c63;  // maroon
$color__background-pre: #eee;
$color__background-ins: #f1f8f4; // pale mint green

$color__text-screen: #472e2d; // chocolate brown
$color__text-input: #b7ddc8;
$color__text-input-focus: #111;
$color__link: #c4497c; // pink
$color__link-visited: #903c63; // maroon
$color__link-hover: #903c63;
$color__link-alt: #f5b179; // goldenrod
$color__link-alt-visited: #f5b179;
$color__link-alt-hover: #f1f8f4; // pale mint green
$color__text-main: #472e2d; // chocolate brown

$color__border-button: #903c63; // maroon
$color__border-button-hover: #903c63;
$color__border-button-focus: #903c63;
$color__border-input: #ccc;
$color__border-abbr: #666;